html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      
}


body {
    font-family: 'Indie+Flower|Teko';
   /*background-image: linear-gradient(260deg, #f3f1f3  0%,  #2376ae 100%); */
    margin-bottom: 0px;
    font-weight: lighter;
}

header {
      width: 100%;
      min-height: 100vh; 
      background: url("/static/images/gollum.jpg") no-repeat 50% 50%;
      background-size: cover;
}


.logo h1 {
      line-height: 60px;
      position: fixed;
      float: left;
      
      color: gold;
      font-weight: bold;
     
      letter-spacing: 2px;
}


nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}



nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
     
      padding-right: 40px;
      transition: 1s;
}
nav.black ul {
      background: #000;
}


nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: gold;
      font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

a:hover {
  color: gold;
}

a:hover {
  text-decoration: none !important;
 }

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {
    

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
      

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}



/*............................content............................*/

.main {
    margin-top: 100px;
}




.d-column {
    margin-top: 100px;
}

.row {
    margin-top:0px;

    
}

.image {
    text-align: center;
}


.form-inline {
   /* padding-top: 0px;
    vertical-align: center;
    text-align: center;*/
    height: 43px;
   /* width: 20em;
    display: flex; */
    flex-direction: row;
    
}
.form-control {
    height: 41px;
    width: 20em;
}

/*

.flex {
    display: flex;
}
*/


h1,
h2,
h3,
h4 {
    font-family: 'Indie+Flower|Teko', cursive;

}

h1 {
    
    color: blue;
    text-align: right;

}
h2 {
    color: green;
    text-align: right;
}

.lead {
    font-family: cursive;
    text-align: right;
    /*font-size: 2.5rem;*/
    font-weight: 500;
    color: gold;
    margin-right: 22px;
}

.col {
    text-align: center;
    
}

#answers {
    color: green;
}

table.center {
    margin-left:auto; 
   /* margin-right:auto; */
    color:azure;
    
}

th {
    padding: 5px;
}

table, th, td {
  border: 1px solid #062425;
}

.btn-md {
     width: 15.7em;
     padding: 10px 0px;
}
    


.btn-lg {
    margin-top: 5px;
    width: 15.7em;
    padding: 10px 0px;
}
/*

.btn-danger {
    background-color: #062425;
    border-color: black;
}

*/

.btn {
     background-color: #062425;
     border-color: black;
     color: red;
}

.btn:hover {
    text-decoration: none;
    color:red;
    background-color:  #062425;
}

button:focus {
    outline: 0 !important;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*.......................................leaderboard.............................*/

.final_table {
    margin-top: 120px;
}


/*..............footer......................*/

footer {
	/*position: absolute; */
	/*position: relative; */
	/*position: static; */
	position: fixed;
	left: 0;
	right:0;
	bottom: 15px;
	width: 100%;
	/*background-color: rgba(255, 50, 0, 0.45); */
	color: #fff;
   /*	box-shadow: 0px 0px 6px rgba(255, 50, 0, 0.45); */
	
}

@media only screen and (max-width: 767px){
footer {
/*background-color: rgba(255, 50, 0, 0.45); */
color: #FFF;
font-size:.8em;
margin-top:0px;
padding-top: 15px;
padding-bottom: 10px;
position:static;
/*position:sticky; */
left:0;
bottom:0;
width:100%;
}
}




footer .lead {
    padding: 0;
    margin: 0;
}

footer .lead a {
    text-decoration: none;
    font-weight: 700;
    color: #fafafa;
    transition: all 0.25s ease-in-out;
}

footer .lead a:hover {
    color: #00ff00;
    transition: all 0.25s ease-in-out;
}

footer .col {
	padding: 10px 0;
	margin: auto;
	max-height: 76px;
}

/*.................social icons...............*/

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}


.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: orange;
}









