
body {
    font-family: 'Indie+Flower|Teko';
    background-color: black;
    margin-bottom: 60px;
}
.image {
    text-align: center;
}


.form-inline {
    padding-top: 0px;
    vertical-align: center;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Indie+Flower|Teko', cursive;
    font-weight: 500;
}

h1 {
    font-size: 5rem;
    color: white;
    text-align: center;
}
h2 {
    color: green;
    text-align: center;
}

.lead {
    font-family: cursive;
    text-align: center;
    /*font-size: 2.5rem;*/
    font-weight: 500;
    color: green;
}

.col {
    text-align: center;
    
}

#answers {
    color: green;
}












