<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
                  content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
                  content="ie=edge">
        <title>{{ page_title }}</title> 
        
        <!-- Bootstrap core CSS --> 
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
        
        
        <!-- Custom fonts for my templates -->
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Teko" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
        <!-- Custom style for my templates -->
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        
    </head>
    
    
    
    
<body>
    
    <nav class="navbar navbar-fixed-top navbar-inverse bg-primary navbar-toggleable-md py-md-3">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand logo" href="home.jsp" style="color:purple;cursor: auto" id="wel">Welcome Player</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/top_ten">Scores</a></li>
            <li><a href="">Contact</a></li>
             <li>
            <a onclick="logout();">
            <span class="glyphicon glyphicon-off" id="icon"> Logout</span>  
            </a>
            </li>
        </ul>
    </div>
</nav>




   <!-- <nav class="navbar navbar-default" role="navigation">
         <div class="container-fluid">
         
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="home.jsp" style="color:purple;cursor: auto" id="wel">Welcome Admin</a>
      </div>
      
      
      
       <ul class="nav navbar-nav main-nav nav-links">
        <li class="active nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/top_ten">Scores</a></li>
       <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modules <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu"> 
            <li><a href="#">Employer Section</a></li>
            <li class="divider"></li>
            <li><a href="#">Employee Section</a></li>
            <li class="divider"></li>
            <li><a href="#">Client Section</a></li>
            <li class="divider"></li>
            <li><a href="#">Project Details</a></li>
          </ul>
        </li>-->
    <!--  </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a onclick="logout();">
            <span class="glyphicon glyphicon-off" id="icon"> Logout</span>  
          </a>
        </li>
      </ul> 
    </div>
  </div>
      </nav> -->
      
      

 <header> 
<section id="core">
                <div class="container">
                    
                    {% block core %}
                    {% endblock %}
                    
                    
                </div>
                 
               
    
    
</section>

</header>

   <footer class="responsive-footer">
    <div class="footer-center">
        <div>
        <p>Copyright &copy; Made with<i class="far fa-heart" style="color:#FB3005;"></i>Miro Frankovic 2020</p>
        </div>
         <div class="social-icons">
          <a href="https://github.com/mirofrankovic" target="_blank" alt="Click to go to my Github">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://facebook.com/mirofrankovic" target="_blank" alt="Click to go to my Facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://linkedin.com/mirofrankovic" target="_blank" alt="Click to go to my Linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          
         </div>
          
   
    </div>
</footer> 

 
<!--</header> <!--header for full screen-->

<!-- Bootstrap core for Java Script -->

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


<script>
let mainNav = document.getElementById('js-menu');
let navBarToggle = document.getElementById('js-navbar-toggle');

navBarToggle.addEventListener('click', function () {
    
    mainNav.classList.toggle('active');
});
    
    
    
    
    
    
    
    
    
</script>

</body>
</html>

