<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
                  content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
                  content="ie=edge">
        <title>{{ page_title }}</title> 
        
        <!-- Bootstrap core CSS --> 
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
        
        
        <!-- Custom fonts for my templates -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
        <!-- Custom style for my templates -->
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        
    </head>
    
    
    
    
<body>
<div class="overlay"></div>
<section id="core" class="container-fluid">
                <div class="container">
                    
                    {% block core %}
                    {% endblock %}
                    
                    
                </div>
    
    
</section>




<!-- Bootstrap core for Java Script -->

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>

