{% extends "base.html" %}

{% block core %}




 <div class="container-fluid p-0">
     <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about"></section>
     <div class="my-auto">
                    
                        <h1 class="title_riddle">Seek for your answer</h1>
                <br>
                <div class="text-center">
                  <img class="image" src="{{ url_for('static', filename='images/gollum.jpg') }} alt="Generic placeholder image" width="200" height="200">
                </div>
        

                <br>
                <h2 class="mb-0">Question {{ context.question_counter + 1 }}:</h2>
                <p class="lead">{{ context.question }}</p>
                
                
                
                 
                
                <!-- Form -->
                <!-- Set your Context to your game -->
                <div class="col-md-4">
                    <form method="POST" action="/game/{{ username }}" class="form-inline">
                        <input type="text" class="form-control" placeholder="answer" name="message" id="message" autofocus>
                        <input type="hidden" name="question_counter" id="question_counter" value={{ context.question_counter }}>
                        <input type="hidden" name="current_score" id="current_score" value={{ context.current_score }}>
                        <input type="hidden" name="attemptsCounter" id="attemptsCounter" value={{ context.attemptsCounter }}>
                        <button class="btn btn-danger">send</button>
                    </form>
                </div>
                
                <!-- Incorrect answers box -->
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border:0px; padding-top:0px;">
                        <div class="panel-heading top-bar" style="background-color: #d3554d;">
                            <h3 class="panel-title">incorrect answers</h3>
                        </div>
                        
                <!-- Incorrect answers list -->
                
                    </div>
                    
                    
                    
                </div>
                    
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
 </div>                   
                    
</div>
                
                


{% endblock %}
















