
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Teko" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <title>{{ page_title }}</title>
</head>

<body>
<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
    <div id="home-header" class="col" >
        {% if score %}
        <h1 class="main-header display-3">Congratulations!</h1>
        {% else %}
        <h1 class="main-header display-3">You have got to the top of the charts!</h1>
        {% endif %}
    </div>  
    
    
    <div class="col">
        <div class="dark-div">
        {% if score %}   
        <h1>Hi {{ player_name }} your score is {{ score }}</h1>
        {% endif %}
        
        <div>
    </div>
        <div>  
<section>
</body>

</html>