<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
                  content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
                  content="ie=edge">
        <title>{{ page_title }}</title>   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
        <link rel="stylesheet" href="static/css/style.css" type="text/css" />
        
    </head>
    

<body>




<div class="main"> 
<div class="overlay">
                <div class="container" style="max-width:380px;">
                    <a href="/ ">
                        <h1 class="title_riddle">Seek for your answer</h1>
                    </a>
                <div class="text-center">
                  <img class="image" src="static/images/gollum.jpg" alt="Generic placeholder image" width="200" height="200">
                </div>
                </div>

            <hr />
                <div class="container">
                <div class="text-center">
                <!-- action attribute tells the browser where should it submit the form -->
                <h1>Welcome, {{ username }}</h1>
                {{ chat_messages }}
                </div>
                </div>
                <div class="container">
                <!-- User box -->
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border:0px; padding-top:0px;">
                        <div class="panel-heading top-bar" style="background-color: #d3554d;">
                            <h3 class="panel-title">users</h3>
                        </div>
                        <!-- User list -->
                        
                        
                        
                        
                        
                    </div>
                    
                    
                </div>
                
                <!-- Form -->
                <div class="col-md-4">
                    <form method="POST" class="form-inline">
                        <input type="text" class="form-control" placeholder="answer" name="message" id="message" autofocus>
                        <input type="hidden" name="riddle_index" id="riddle_index" value={{ riddle_index }}>
                        <button class="btn btn-danger">send</button>
                    </form>
                </div>
                
                <!-- Incorrect answers box -->
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border:0px; padding-top:0px;">
                        <div class="panel-heading top-bar" style="background-color: #d3554d;">
                            <h3 class="panel-title">incorrect answers</h3>
                        </div>
                        
                <!-- Incorrect answers list -->
                
                    </div>
                    
                    
                    
                </div>
                    
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                    
                    
                </div>
                
                
</div>                
</div>
















                <!-- is setTimeout or setInterval function -->
<script type="text/javascript">
    
    setTimeout(function() {
        location.reload();
    }, 5000);
</script>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>







