
{% extends "base.html" %}

{% block core %}

 <div class="container">
   <!-- <div class="d-column d-flex"> -->
   <div class="main">
       <div class="container">
           
        <h1 class="mb-0 text-center">Hallo {{ player_name }}!</h1>
        <p class="mb-1 lead text-center">You will have for each question 6 available answers to choose but only one is correct.
                                                I am going to give you a clue that the first option=0 and the second=1</p>
         <div class="flexbox flex-vertical-center">                                       
             <!--<div class="right-side"> -->                                     
             <div class="riddle_1">Riddle {{question_counter + 1}} of {{total}}</div>
             <div class="riddle_2">{{question}}</div>
             <div class="riddle_3">Attempts: {{attempts_counter}} of {{attempts}}</div>
             <div class="riddle_4">Score: {{score}}</div>
        </div>     
        <div class="flex flex-horizontal-center">
        <ul id="answers">
        {% for item in answers %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>

        <p><span>Correct Answer: {{correct_answer}}</span></p>
              <!--<div class="form_class"> -->
            
              <form method="POST" action="{{ player_name }}" class="form-inline form-riddle-name">
                 <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your answer" name="answer" autofocus>
                    <input type="hidden" name="question_counter" value={{question_counter}}>
                    <input type="hidden" name="attempts_counter" value={{attempts_counter}}>
                    <input type="hidden" name="question" value={{question}}>
                    <input type="hidden" name="score" value={{score}}>
                    <input type="hidden" name="correct_answer" value={{correct_answer}}>
                    <input type="hidden" name="attempts" value={{attempts}}>
                </div>
                <button type="submit" class="btn btn-md riddle-submit">Enter your next Question</button>
              </form>
              </div>
              </div>
              </div> <!--row-->
              </div> <!--container-grid-->
            </div>
            </div>
        </div>              
      </div> 
  </div>
   
    
    
 {% endblock %}